/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#mainHeader {
			 background:#; 
			 height:170px; 
		  }
   #mainHeaderTopNav {
			  height:135px;
		   }
		   
#mainSubNav   {
	
}
  #mainSubNav  ul{
	          list-style-type:none;
			  padding:0;
			  margin:0;
			  font-size:.9em;
  }
  #mainSubNav  ul li {
	          width:187px;
	          display: inline-block;
			  border-right:1px solid #6e7275;
			  height:37px;
			  text-align: center;
  }
  #mainSubNav  ul li a{
	          color:#fff;
			  text-decoration:none;
			  display: inline-block;
			  padding-top:9px;
  }
  #mainSubNav  ul.subNavFirst>li:first-child{
	          border-left:1px solid #6e7275;
  }

#mainPromoHome {
			  background:#;
			  height:430px;
		  }
		  
#mainContent {
			  background:#;
			  height:492px;
		  }
  #mainContent h3{
	          font-weight:normal;
			  font-size:1.1em;
			  border-bottom: 3px solid #c6cacc;
			  padding-bottom:9px;
  }
  #mainContent ul{
			  list-style-type:none;
			  padding:0;
			  margin:0;
		  }
   #mainContent ul li{
			  width:300px;
			  border-bottom: 1px solid #e0e0e0;
			  padding-bottom:9px;
		  }
		  
		  
		  
#mainPromoBottom {
			  background:#c6cacc;
			  height:161px;
		  }
		  
#mainSocialBottom, #mainSubNav {
			  height:37px;
			  color:#fff;
			  font-weight:normal;
        background: #909395; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkwOTM5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjNmM3MDczIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTclIiBzdG9wLWNvbG9yPSIjNTI1NjVhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRiNGY1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #909395 0%, #6c7073 3%, #52565a 97%, #4b4f52 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#909395), color-stop(3%,#6c7073), color-stop(97%,#52565a), color-stop(100%,#4b4f52)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #909395 0%,#6c7073 3%,#52565a 97%,#4b4f52 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #909395 0%,#6c7073 3%,#52565a 97%,#4b4f52 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #909395 0%,#6c7073 3%,#52565a 97%,#4b4f52 100%); /* IE10+ */
background: linear-gradient(to bottom,  #909395 0%,#6c7073 3%,#52565a 97%,#4b4f52 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#909395', endColorstr='#4b4f52',GradientType=0 ); /* IE6-8 */

		  }
		  
#mainFooter {
			  background:#6c7073;
			  height:200px;
		  }














/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}